<h1>My Models</h1>

<table class="table">
  <tr>
    <th>Name</th>
  </tr>

<!-- display the list of models here
     you do not need to use a partial -->

</table>

<br />

<% # create a link the "new" model page %>

