<h1>My Makes</h1>

<table class="table">
  <tr>
    <th>Name</th>
  </tr>

<!-- display the list of makes here
     you do not need to use a partial -->

</table>

<br />

<% # create a link the "new" make page %>

