<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <% # there's only one interesting field in the model. Display it here %>
</p>


<% # create a link to the edit page %> |
<% # create a link to the list page %>

